@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@import './sections/header.scss';
@import './sections/filters.scss';
@import './sections/posts.scss';
@import './sections/pagination.scss';


body {
  background-color: #fcfcfc;

  .container {
    padding: 0 0.5rem;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }

  .text-center {
    text-align: center;
  }
}