.main-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 3rem;

  .filter {
    display: flex;
    font-weight: 500;
    color: #606060;

    &__item {
      border-radius: 2px;
      border: 1px solid #d6d6d6;
      width: 98px;
      height: 31px;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;

      &--active {
        border: 1px solid #1797ff;
        color: #1797ff;
      }
    }
  }
}




/* Filter by type */
.type-filter {
  margin-bottom: 2rem;
  width: 240px;
  min-height: 38px;

  select {
    width: 100%;
    padding: 0.45rem 0.5rem;
    font-size: 14px;
    outline: none;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #2e2e2e;
  }

  .custom-option {
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .custom-value-container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}