.main-header {
  height: 114px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);

  @media only screen and (max-width: 768px) {
    .container {
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}