.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 2rem;

  &__item {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.65);
    font-size: 0.8rem;
    font-weight: bold;
    height: 32px;
    line-height: 0.8rem;
    user-select: none;
    width: 32px;

    &--active {
      background-color: #1797ff;
      color: white;
      border-color: #1797ff;
    }
  }
}