.posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  &__item {
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 68px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;

    main {
      padding: 24px 26px;

      .information {
        font-size: 11px;
        color: #767676;
        margin-bottom: 7px;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        font-weight: 400;
      }

      .content {
        letter-spacing: 0.25px;
        font-size: 14px;
        font-weight: 500;
        color: #6b6b6b;
      }
    }

    aside {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f5f5f5;

      .favorite-icon {
        cursor: default;
      }
    }

    &:hover {
      opacity: 0.6;
    }
  }

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}